@import "estilos-generales";
/* Acá modifico el archivo cuenta.html */

.form {
  margin: 3rem auto;
  width: 90%;
  min-width: 14rem;
  border: 1px solid black;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 10px black;
  .form__title {
    background-color: $primary-color;
    color: white;
    font-size: 24px;
  }
  .form__body {
    text-align: center;
    input {
      width: 85%;
      border-radius: 4px;
      font-family: "calibri";
      font-size: 16px;
      padding: 2px;
      visibility: inherit;
    }
    label input {
      width: 20px;
    }
  }
}
@media (min-width: 1024px) {
  /* Media querie para cuenta.html */
  .form {
    margin: 3rem auto;
    width: 35%;
    min-width: 14rem;
    border: 1px solid black;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px black;
  }
  .form-flex {
    display: flex;
  }
  .main__cuenta {
    margin-bottom: 100px;
  }
}
