/* Definición de variables */

$gradient-color: linear-gradient(rgb(58, 39, 224), #2b86c5);
$primary-color: #3a27e0;
$secondary-color: #2b86c5;
$footer-bg-color: #212121;
$primary-button-color: linear-gradient(
  225deg,
  #ff3cac 0%,
  #784ba0 50%,
  #2b86c5 100%
);
$secondary-button-color: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%
);

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}
main {
  height: 100%;
}
header {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  ul {
    li {
      a:hover {
        font-size: 20px;
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  bottom: -500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  div {
    height: 150px;
    width: 300px;
    h3 {
      text-align: center;
      color: $secondary-color;
    }
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .footer__iconos {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    i {
      font-size: 3rem;
    }
  }
}

.footer-sm {
  background-color: $footer-bg-color;
  color: white;
}

.button {
  width: 85%;
  margin-top: 2%;
  background-color: #ff3cac;
  background-image: $primary-button-color;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 20px;
  min-width: 120px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.button-forgot {
  background: $secondary-button-color;
  border: 2px solid black;
}

/* Usando transformación para el botón */

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  z-index: -1;
  transition: transform 0.5s;
}
.button:hover {
  transform: scale(1.1);
  color: black;
}
.button:hover::before {
  transform: rotate(0deg);
}
.button-forgot::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: bottom left;
  background-color: black;
  transform: rotate(-90deg);
  z-index: -1;
}
.button-forgot:hover {
  color: white;
}

.title {
  padding-top: 5rem;
}

@media (min-width: 1024px) {
  footer {
    bottom: 0;
  }
}
