@import "estilos-generales";
// css para index.html

body {
  position: relative;
  padding-bottom: 3rem;
  min-height: 100vh;
}

#introSection {
  background: $gradient-color;
  .display2 {
    text-transform: capitalize;
    color: white;
    font-size: 2.3rem;
    font-weight: 400;

    &__title {
      text-align: center;
      &--big {
        font-size: 42px;
        font-weight: 500;
      }
    }
    &__description {
      display: inline-block;
      font-size: 1rem;
      font-weight: 100;
    }
    &__button {
      margin: 0 auto;
      text-align: center;
    }
  }
}

// Probando Maps
$deportistas: (
  messi: "../imagenes/MessiFestejoEscalado.jpg",
  jordan: "../imagenes/JordanEscalado.jpg",
  nadador: "../imagenes/natacionEscalado.jpg",
  bolt: "../imagenes/boltEscalado.jpg",
);
// Probando Maps

section {
  .gallery-presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 50px;
    .card-flex {
      margin: 2rem;
      width: 85%;
      box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 45);
      border-radius: 15px;
      color: white;
      background-color: black;
      overflow: hidden;

      .card-sport {
        background-size: cover;
        min-height: 246px;
        min-width: 100px;
        cursor: pointer;
      }
      /* Aplico el extend */
      .card__sport--messi {
        @extend .card-sport;
        background-image: url(map-get($deportistas, messi));
      }
      .card__sport--jordan {
        @extend .card-sport;
        background-image: url(map-get($deportistas, jordan));
      }
      .card__sport--natacion {
        @extend .card-sport;
        background-image: url(map-get($deportistas, nadador));
      }
      .card__sport--corredor {
        @extend .card-sport;
        background-image: url(map-get($deportistas, bolt));
      }
    }
    img {
      max-width: 300px;
    }
  }
  .card-subscription {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 20px;
    padding: 10% 0;
    background-color: black;
    justify-content: center;
    &__primary-text {
      font-family: "Gloock", serif;
      font-size: 25px;
      color: white;
      text-align: center;
    }
    &__email {
      display: flex;
      .subscription__input {
        font-size: 14px;
      }
      .subscription__button {
        background-color: #ff3cac;
        background-image: $primary-button-color;
        color: white;
        font-size: 20px;
        border: 0px;
        height: 30px;
        padding: 0px 5px;
      }
    }
    &__secondary-text {
      font-family: "Gloock", serif;
      font-size: 25px;
      color: white;
      opacity: 0.5;
    }
  }

  /* Usando animaciones */
  @keyframes to-top {
    from {
      opacity: 0;
      transform: translateY(-80px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media (min-width: 1024px) {
    /* Media querie para Index */
    .gallery-presentation {
      width: 80%;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .card-flex {
      width: 20%;
    }
    .button {
      width: 70%;
    }
    .display2 {
      display: flex;
      padding-top: 100px;
      &__intro {
        text-align: center;
      }
    }
    /* Uso el pseudoselector para crear los circulos alrededor de la imagen */
    .display2::before {
      content: "";
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      left: 55%;
      opacity: 0.1;
      box-shadow: 100px 300px;
    }
    .display2__intro {
      font-size: 52px;
    }
    .display2__img {
      animation: to-top 0.5s ease;
    }
    //agregando card email
    .card-subscription {
      flex-wrap: nowrap;
      padding: 0;
      padding: 5% 0;
      background-color: black;
      justify-content: space-around;

      &__email {
        .subscription__input {
          width: 300px;
        }
        .subscription__button {
          padding: 0px 5px;
          height: 100%;
        }
      }
    }
  }
}
