/* Acá modifico el archivo nosotros.html */
//Página hecha en su mayoria por Boostrap
.m10-top {
  margin-top: 10px;
}
.center {
  text-align: center;
}
.special-text {
  color: $primary-color;
  font-weight: 800;
  font-size: 1.2rem;
}
